/**
 * Page content
 */
 .page-content {
	// Anything above palm
	@media screen and (min-width: $on-palm) {
		width: calc(100% - 265px);
		min-height: calc(100% - (#{$spacing-unit} * 2));
		padding: $spacing-unit 0;
		margin-left: 265px;
	}
	// Palm 
 	@include media-query($on-palm){
 		width: 100%;
 		padding: ($spacing-unit / 2) 0;
 	}
	// Not using media query mixin so that I can use min and max
	@media screen and (max-width: $on-laptop) and (min-width: $on-palm) {
		width: calc(100% - 200px);
		margin-left: 200px;
	}
}

.page-heading {
	font-size: 20px;
}

.post {
	min-height: calc(100% - (#{$spacing-unit} * 2));
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-link {
	display: block;
	font-size: 24px;
}

